<style>


    .search-btn {
        background-color: #fe424d;
        color: #fff;
        border: none;
        border-radius: 0.5rem;
    }
    .search-btn:hover {
        background-color: #fe424d;
        color: #fff;
        border: none;
        border-radius: 0.5rem;
    }
    .search-btn i {
      display: inline;
      margin-right: 0.5rem;
    }
    .search-input {
      padding: 0.5rem 5rem 0.5rem 5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><i class="fa-solid fa-compass"></i> </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/listings">Explore</a>
        </div>

        <div class="navbar-nav ms-auto">
          <form class="d-flex" role="search" method="GET" action="/listings">
            <input
              class="form-control me-2 search-input"
              type="search"
              name="search"
              placeholder="Search destinations"
              aria-label="Search"
            />
            <button class="btn search-btn" type="submit">
              <i class="fa-solid fa-magnifying-glass"></i></button>
          </form>
        </div>

        <div class="navbar-nav ms-auto">
          <a class="nav-link" href="/listings/new">Host with MyStay</a>
          <% if(!currentUser){ %>
            <a class="nav-link" href="/signup"><b>Sign up</b></a>
            <a class="nav-link" href="/login"><b>Login</b></a>
          <% } else { %>
            <a class="nav-link" href="/my-bookings"><b>My Bookings</b></a>
            <% if(currentUser){ %>
              <a class="nav-link" href="/host/bookings"><b>Host Bookings</b></a>
            <% } %>
            <button class="nav-link btn btn-link p-0" id="logoutBtn" type="button"><b>Logout</b></button>
          <% } %>
        </div>
      </div>
    </div>
  </nav>

<!-- Logout Confirmation Modal -->
<div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="logoutModalLabel">Confirm Logout</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to logout?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <a href="/logout" class="btn btn-danger">Logout</a>
      </div>
    </div>
  </div>
</div>